p {
    padding: 1rem;
    margin: 1rem 0;
    text-align: center;
    border: solid 3px;
    border-radius: 2rem;
    background-color: white;
}

.selected {
    background-color: pink;
}

.containerApp {
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
}